* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: min(1em, 8%);
    display: flex;
    flex-direction: column;
    color: #333;
    background-color: rgb(225, 243, 255);
    background-image: radial-gradient(circle, rgb(255, 113, 144), white);
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 5px 5px 5px;
}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
  padding-bottom: 40px;
}



.photo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.photo-item {
    text-align: center;
    padding: min(1em, 1%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px 0, rgba(0, 0, 0, 0.25) 0 6px 12px 0;
    border-radius: 5%;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s;
}

.photo-item img {
    border-radius: 5%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.message, .sub-photo-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.photo-sub-item > .wrapper {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.wrapper > q {
    font-size: 1.2em;
    padding: 10px;
}

.wrapper-writer p {
    margin: 0;
}

.message {
  display: none;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.5;
  transition: background-color 0.5s;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: white transparent;
}

.message:hover {
    background-color: pink;
    cursor: pointer;
}

.message:active {
    background-color: rgb(251, 150, 167);
}




.checkbox-amian-date {
    display: none;
}

#amian-date-checkbox-label:checked ~ #amian-date-label .message {
    display: block;
}


.photo-item:hover {
    background-color: white;
    cursor: pointer;
}

.photo-item:active {
    background-color: pink;
}



.checkbox-snowy-christmas {
    display: none;
}

#snowy-christas-checkbox-label:checked ~ #snowy-label .message {
    display: block;
}


#snowy-label > .message {
    padding-top: 80px;
}   


.third-checkbox-label {
    display: none;
}

#third-checkbox-label:checked ~ #third-label .message {
    display: block;
}

.fourth-checkbox-label {
    display: none;
}

#fourth-checkbox-label:checked ~ #fourth-label .message {
    display: block;
}

#fourth-label > .message {
    padding-top: 170px;
    font-size: 1.1rem;
}

.fifth-checkbox-label {
    display: none;
}

#fifth-checkbox-label:checked ~ #fifth-label .message {
    display: block;
}

#fifth-label > .message {
    padding-top: 70px;
}

.six-checkbox-label {
    display: none;
}

#six-checkbox-label:checked ~ #six-label .message {
    display: block;
}

.seven-checkbox-label {
    display: none;
}

#seven-checkbox-label:checked ~ #seven-label .message {
    display: block;
}

#seven-label > .message {
    padding-top: 150px;
}


@media(max-width: 1024px){
    .photo-container {
        grid-template-columns: repeat(3, 1fr);
}
}

@media(max-width: 768px){
    .photo-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .photo-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
